<% 
    return if @project == nil
    banner = Banner.find(:first, :conditions => ['project_id = ?', @project.id])
    return '' unless banner && banner.enable_banner? 
%>
<% return '' unless (banner != nil && banner.enable_banner?) %>
<div id="project_banner_area" class="banner_area">
<div class="banner banner_<%= banner.style %>" id="banner_content">
  <%= textilizable banner.banner_description %>
</div> 
</div>
<script type="text/javascript">
  document.observe("dom:loaded", function() {
    new Insertion.Top($('content'), $('project_banner_area'));
  });
</script>