.banner {
        border-style: solid;
        border-width: 1px;
        margin: 2px 0px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding: 2px 20px;
}

div.banner_info {
        border-color: #b0c4de;
        background: #f0f8ff url(/plugin_assets/redmine_banner/images/info.png) no-repeat left center;
}

div.banner_warn {
        border-color: #f3d51a;
        background: #f9f99e url(/plugin_assets/redmine_banner/images/warn.png) no-repeat left center;
}

div.banner_alert {
        background-color: #ffe3e3;
        border-color: #dd0000;
        background: #ffe3e3 url(/plugin_assets/redmine_banner/images/alert.png) no-repeat left center;
}

div.banner_normal {
        background-color: #ffffff;
        border-color: #ffffff;
}
